



<!--{% extends 'customer/base.html' %}-->
<!--{% load static %}-->
<!--{% load crispy_forms_filters %}-->
<!--{% block content %}-->
<!--<section id="content">-->
<!--  <div class="border-horiz"></div>-->

<!--  <div class="box-contact">-->
<!--    <h3>PLACE YOUR FOOD ORDER WITH PAYMENT</h3>-->
<!--            {% for mess in messages %}-->

<!--&lt;!&ndash;                <div>id="contact-form"&ndash;&gt;-->
<!--<div>-->
<!--                  <strong style="color:red;">{{mess}}</strong>-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--    <form  method="post">-->
<!--      {% csrf_token %}-->

<!--FOODNAME:<input type="text" name="accessory" value="{{key.FoodName}}"><br><br>-->
<!--FOOD TYPE:<input type="text" name="accessory"  value="{{key.food_type}}"><br><br>-->
<!--AMOUNT:<input type="text"  name="accessory" value="{{key.Price}}"><br><br>-->
<!--TABLE_NO:<input type="text"  name="table_no" ><br><br>-->

<!--PHONE NUMBER:<input type="text" name="phone"><br><br>-->
<!--CARDNUMBER:<input type="text" name="cardnumber"><br><br>-->
<!--CVV:<input type="text" name="cvv"><br><br>-->
<!--DATE:<input type="date" name="date"><br><br>-->
<!--        <div class="clear"></div>-->
<!--        <button class="btn" type="submit">PAY now</button>-->

<!--    </form>-->
<!--  </div>-->
<!--</section>-->
<!--{% endblock %}-->